<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="pigeon_id">User Pigeon ID:</label>
        <input type="text" id="pigeon_id" name="pigeon_id" required><br>
        <label for="receiver_id">Friend Pigeon ID:</label>
        <input type="text" id="receiver_id" name="receiver_id" required><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
